
.bg-shape {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    height: 70rem;
    width: 50rem;
    
  }

  @media (max-width: 600px) {
    .hero-container{
      padding-bottom: 10rem;
      
    }
}

  @media (min-width: 600px) {
      .bg-shape{
        opacity: 0.5;
    }
    
  }

  @media (max-width: 800px) {
    .bg-shape {
      display: none;
    }

  }

.hero-content {
    width: 100%;
    height: 50rem;
    display: flex;
    align-items: flex-start;
    /* margin-bottom: 10rem; */
    position: relative;
  }

  .hero-content__text {
    display: flex;
    flex-direction: column;
    z-index: 3;
    max-width: 50rem;
    margin-top: 5rem;
  }
  @media (max-width: 800px) {
    .hero-content__text {
      text-align: center;
      align-items: center;
    }
  }
  .hero-content__text h4 {
    font-size: 2.2rem;
    font-family: "Rubik", sans-serif;
    color: #010103;
  }
  .hero-content__text h1 {
    font-size: 5.2rem;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    color: #010103;
    line-height: 1.2;
    margin-top: 1rem;
    margin-bottom: 2.3rem;
  }
  .hero-content__text h1 span {
    color: #0d6efd;
  }
  .hero-content__text p {
    font-size: 1.6rem;
    font-family: "Rubik", sans-serif;
    line-height: 1.6;
    color: #0f1035;
    margin-bottom: 4rem;
  }

  .hero-content__text__btns {
    display: flex;
    gap: 2rem;
    
  }

 
  @media (max-width: 450px) {
    .hero-content__text__btns {
      flex-direction: column;
    }
}

.hero-content__bike-img {
    z-index: 2;
    width: 65%;
    margin-top: 18rem;
  }

  @media (max-width: 830px) {
    .hero-content__bike-img {
      display: none;
    }
  }

  .btn1 {
    font-size: 1.5rem;
    text-decoration: none;
    font-weight: 600;
    color: white;
    font-family: "Poppins", sans-serif;
    background-color: #0d6efd;
    padding: 1rem 0.7rem;
    margin-top: 1rem;
    transition: all 0.3s;
    box-shadow: 6px 6px 0 #efe9e9;
    border-radius: 10px;
  }

  .btn2 {
    font-size: 1.5rem;
    text-decoration: none;
    font-weight: 600;
    color: white;
    font-family: "Poppins", sans-serif;
    background-color: black;
    padding: 1rem 0.7rem;
    margin-top: 1rem;
    transition: all 0.3s;
    box-shadow: 6px 6px 0 #efe9e9;
    border-radius: 10px;
  }

  .btn1:hover {
    background-color: #e2e6ec;
    color:#0d6efd;
    box-shadow: none
  } 

  .btn2:hover {
    background-color: #e2e6ec;
    color:#0d6efd;
    box-shadow: none
  } 

  @media (max-width: 830px) {
    .hero-content h1 {
      font-size: 4rem;
    }

  }


  