.faq-section {
    background-image: url(../images/GiantTalon3.png);
    background-position: 0 80%;
    background-repeat: no-repeat;
    background-size: auto;
    padding: 10rem 0;
}
.faq-container{ 
    width: 60%;
    margin: auto
}

.faq-title-container {
    text-align: center;
    margin: auto;
    margin-bottom: 2rem
}
.faq-title-container  h5{
    font-size: 2rem;
}

.faq-title-container h2{
    font-size: 3rem;
    margin-bottom: 1.5rem;
    text-align: center;
}
.faq-title-container p{
    color: #706f7b;
    font-size: 1.2rem;
}

.accordion-button:not(.collapsed){
    background-color: #0d6efd;
    color: white;
}

.accordion-flush .accordion-item {
   
    box-shadow: 15px 15px 15px 0 rgba(0,0,0,.1);
    width: 60rem;
    margin: auto;
}

.accordion-flush .accordion-item .accordion-button, .accordion-flush .accordion-item .accordion-button.collapsed {
    font-weight: 400;
    font-size: 1.2rem;
}




@media (max-width: 800px) {
    
  .accordion-flush .accordion-item {
    width:100%;
}
}