#NavBar{
    font-weight: 500;
    font-size: 1.4rem;
    font-family: Rubik,sans-serif;
    transition: all 0.3s;
    opacity: 0.9;
    z-index: 2;
}

#brand {
    display: flex;
    gap: 0.5rem;
}

h2 span {
    color:#0d6efd;
    font-weight: 800;
}

