.plan-trip-container{
  padding: 10rem 0;
  padding-top: 4rem;
  max-width: 1800px;
  margin: auto;
    
}
.plan-trip-title{
    text-align: center;
    padding: 2rem;
}

.plan-trip-title h3{
    font-family: Rubik,sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
}

.plan-trip-title h2{
    font-family: Poppins,sans-serif;
    font-size: 3rem;
    margin: 1.3rem 0 3rem;
    font-weight: 700;
}

.plan-trip-icon-boxes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 3rem;
    padding: 0 3rem;
    
    
}

@media (max-width: 1021px) {
    .plan-trip-icon-boxes {
      grid-template-columns: 1fr 1fr;
      row-gap: 2rem;
      padding: 0 30px;
    }
    
}
  @media (max-width: 800px) {
    .plan-trip-icon-boxes {
      grid-template-columns: 1fr;
      margin-top: 1rem;
    }

  }

.plan-trip-icon-box img {
    height: auto;
    width: 10rem;
    transition: transform 0.3s ease;
}

.plan-trip-icon-box{
    padding: 1rem 4rem;
    text-align: center;
   
}

.plan-trip-icon-box h3 {
    font-size: 2.4rem;
    margin-bottom: 1rem;
  }
.plan-trip-icon-box p {
     font-size: 1.2rem;
    font-family: "Rubik", sans-serif;
    color: #706f7b;
    line-height: 1.43;
  }
.bike-img:hover{
  animation: moveToLeft 3s ease-in-out;
} 
.customer-support-img:hover{
  animation: scaleUp 1s linear;
}

.explore-img:hover {
    animation: spin 1s linear;
  }

  
  
  
  /* Define the icon animations */
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes moveToLeft {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-500%);
    }
  }
  
  @keyframes scaleUp {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.2);
    }
  }
  