footer {
    background-color: #f8f8f8;
    padding: 5rem 0;
  }
  
  .footer-content {
    display: grid;
    color: #010103;
    grid-template-columns: 27fr 21fr 21fr 21fr;
    gap: 8rem;
    justify-content: center;
    text-align: left;
    color: #010103;
  }
  @media (max-width: 1100px) {
    .footer-content {
      grid-template-columns: 1fr 1fr;
    }
  }
  @media (max-width: 650px) {
    .footer-content {
      grid-template-columns: 1fr;
    }
  }
  .footer-content__1 {
    list-style: none;
  }
  @media (max-width: 650px) {
    .footer-content__1 {
      text-align: center;
    }
  }
  .footer-content__1 li a {
    text-decoration: none;
    color: #010103;
    transition: all 0.2s;
    
  }
  .footer-content__1 li a:hover {
    color:#0d6efd;
  }
  .footer-content__1 li:nth-child(1) {
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
  }
  .footer-content__1 li:nth-child(1) span {
    font-weight: 700;
    color:#0d6efd;
  }
  .footer-content__1 li:nth-child(2) {
    font-size: 1.2rem;
    color: #706f7b;
    line-height: 1.7;
    margin-bottom: 3rem;
  }
  .footer-content__1 li:nth-child(3), .footer-content__1 li:nth-child(4) {
    font-size: 0.9rem;
    font-family: "Rubik", sans-serif;
    font-weight: 700;
    margin-bottom: 1rem;
  }
  .footer-content__2 {
    list-style: none;
  }
  @media (max-width: 650px) {
    .footer-content__2 {
      text-align: center;
    }
  }
  .footer-content__2 a {
    text-decoration: none;
    color: #010103;
    transition: all 0.2s;
  }
  .footer-content__2 a:hover {
    color:#0d6efd;
  }
  .footer-content__2 li {
    font-size: 1rem;
    margin-bottom: 1rem;
  }
  .footer-content__2 li:nth-child(1) {
    font-size: 1.8rem;
    font-weight: 700;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    cursor: auto;
  }
  .footer-content__2 input {
    font-family: "Rubik", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    background-color: #ececec;
    border-width: 1px;
    border-color: transparent;
    padding: 10px 60px;
    outline: none;
    margin-top: 1rem;
  }
  @media (max-width: 1250px) {
    .footer-content__2 input {
      width: 100%;
    }
  }

  .submit-email {
    text-decoration: none;
    color: white;
    font-weight: 700;
    background-color: #0d6efd;
    padding: 1rem 1.8rem;
    border-radius: 0.3rem;
    box-shadow: 0 10px 15px 0 #0d51b8;
    transition: all 0.3s;
    border: 2px solid #0d6efd;
    font-size: 1.6rem;
    width: -moz-fit-content;
    width: fit-content;
    cursor: pointer;
    width: 100%;
  }
  .submit-email:hover {
    box-shadow: 0 10px 15px 0 #062a61;
    background-color: #0d6efd;
  }

  @media (max-width: 1250px) {
    .footer-content{
      width: 90%;
      margin: auto;
    }

    .footer-content__1 {
      padding-left: 0;
    }
    .footer-content__2 {
      padding-left: 0;
    }

  }