.pick-section {
    padding: 10rem 0;
  }
  
  .pick-container {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin:auto
  }
  .pick-container__title {
    margin: 0 auto;
    text-align: center;
    color: #010103;
    
    margin-bottom: 5rem;
  }
  .pick-container__title p {
    font-size: 1.6rem;
    font-family: "Rubik", sans-serif;
    color: #706f7b;
    line-height: 1.5;
  }
  .pick-container__title h3 {
    font-size: 2.4rem;
    font-family: "Rubik", sans-serif;
    font-weight: 500;
  }
  .pick-container__title h2 {
    font-size: 4.2rem;
    font-family: "Poppins", sans-serif;
    margin: 0 0 1rem 0;
  }
  .pick-container__bike-content {
    display: flex;
    gap: 1rem;
    margin: auto;
  }
  @media (max-width: 1050px) {
    .pick-container__bike-content {
      flex-direction: column;
      gap: 5rem;
    }
    .box-bikes{
      flex-direction: column;
    }
  }
  
  .pick-box {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    align-items: center;
  }
  .pick-box button {
    font-size: 1.2rem;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    border: none;
    cursor: pointer;
    padding: 1.6rem 1.5rem;
    background-color: #e9e9e9;
    transition: all 0.2s;
    text-align: left;
    width: 18rem;
  }
  .pick-box button:hover {
    background-color: #0d6efd;
    color: white;
  }
  
  .pick-bike {
    background-image: url(../../images/backgrounds/BgPng.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
    width: 50rem;
    position: relative;
  }
  @media (max-width: 1050px) {
    .pick-bike {
      width: 100%;
    }
  }
  .pick-bike img {
    width: 40rem;
    margin: auto;
    margin-top: 9rem;
    animation: fadeIn 0.3s;
  }

  @keyframes fadeIn{
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .pick-description {
    width: 27rem;
  }

  @media (max-width: 800px) {
    .pick-bike img {
      width: 20rem;
      margin: auto;
      margin-top: 4rem;
    }

    .pick-description {
      width: 17rem;
    }
  }
  
  
  
  .pick-description__price {
    
    background-color: #0d6efd;
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    color: white;
    padding: 0.3rem 1.9rem;
    white-space: nowrap;
  }
  .pick-description__price span {
    font-size: 2.8rem;
    font-weight: 700;
  }
  .pick-description__table {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    font-size: 1.3rem;
  }
  .pick-description__table__col {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    grid-template-rows: auto;
    padding: 0.7rem 0.3rem;
    border-bottom: 2px solid #706f7b;
    border-right: 2px solid #706f7b;
    border-left: 2px solid #706f7b;
  }
  .pick-description__table__col span {
    animation: fadeIn 1s;
  }
  

  
  
  .pick-description__table__col span:nth-child(1) {
    border-right: 2px solid #706f7b;
  }


  @media (max-width: 800px) {
    .pick-description__price {
      font-size: 1.3rem;
    }

    .pick-description__price span {
      font-size: 2rem;
    }
    .pick-description__table {
      
      font-size: 1.1rem;
    }
  }
  
  
  .cta-btn {
    font-size: 2rem;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
    color: white;
    font-family: "Poppins", sans-serif;
    background-color: #0d6efd;
    padding: 1rem 1rem;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    transition: all 0.3s;
    box-shadow: 6px 6px 0 #efe9e9;
  }
  .cta-btn:hover {
    background-color: #154896;
  }
  
  .box-bikes {
    
    display: flex;
    justify-content: space-between;
  }
  @media (max-width: 1200px) {
    .box-bikes {
      flex-direction: column;
    }
  }
  @media (max-width: 1050px) {
    .box-bikes {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 5rem;
    }
  }