.banner-section {
    background-color: #2d2d2d;
    display: flex;
    height: auto;
    margin: 3rem auto;
    padding: 6rem 0;
    text-align: center;
    width: 100%;
    
}

.banner-container{
    color: #fff;
    height: 100%;
    width: 100%;
    padding: 1rem;
}

.banner-text {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.banner-text h2 {
    font-size: 3rem;
    line-height: 1.3;
}

.banner-text p {
    font-size: 1.8rem;
}